body {
    font-family: 'RozhaOne';
}

@font-face {
    font-family: 'RozhaOne';
    src : url(/font/RozhaOne-Regular.ttf)
}

.navbar {
    height: 70px;
    border-bottom: 2px solid blue;
    font-family: RozhaOne;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar div {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.nav-left a {
    display: flex;
    color: black;
}

.nav-left img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.nav-left p {
    padding-left: 10px;
}

.nav-center {
    margin-left: 60px;
}

.nav-right ul {
    display: inline-block;
    padding-left: 30px;
}

.mainbg{
    height: 80vh;
    background-image: url(/img/배경이미지2.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.mainbg h4 {
    margin-top: 0px;
    padding-top: 110px;
    margin-bottom: 70px;
    font-size: 50px;
}

.mainbg p {
    font-size: 18px;
    font-family: '기본폰트';
}

.mainbg button {
    margin-top: 16px;
    width: 130px;
    height: 50px;
    border: 1px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-family: '기본폰트';
}

.footer {
    text-align: center;
    font-family: 'RozhaOne';
}

.footer h4{
    font-size: 16px;
}

.footer p {
    font-size: 12px;
}